spring.datasource.url=jdbc:postgresql://localhost:5432/viiamaps
spring.datasource.username=postgres
spring.datasource.password=SUA_SENHA_AQUI
jwt.secret=CHAVE_JWT_AQUI_MINIMO_32_CARACTERES_ALFANUMERICOS
